<li *ngIf="guitar" class="mb-4 shadow bg-slate-50 rounded relative">
    <app-favourite-button [guitarId]="guitar.id"></app-favourite-button>
    <section class="p-3">
        <img [src]="guitar.image" [alt]="guitar.model" class="block w-72">
    </section>
    <section class="p-4">
    <span class="text-xl">{{guitar.model}}</span> | <span>{{guitar.manufacturer}}</span>
    <span class="block">Body: {{guitar.bodyType}}</span>
    </section>
    <section class="p-4">
    <ul>
    <span class="block text-xl">Materials</span>
        <li>Neck: {{guitar.materials.neck}}</li>
        <li>Fretboard: {{guitar.materials.fretboard}}</li>
        <li>Body: {{guitar.materials.body}}</li>
    </ul>
    </section>
</li>